<style>

#mainContentContainer {
    padding:0;
}

.pageTitle{
    display: none;
}

html{
    scroll-behavior: smooth;
}
</style>
<section id ="first" class="First">
        <img class= "homePage" src="/images/home-page.png" />
        <a class='start' href="/games" ><img src="/images/start.gif"/></a>
        <a class='instructions' href="#second" ><img src="/images/instructions.png"/></a>

    </section>
    
    <section id ="second" class="Second">
        <div class="Wrapper">
        <h2>How To Play</h2>
            <p>
                
            </p>
        </div>
    </section>