<h3>${welcome}</h3>

<section class="section">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="4">Top 10 Easy Scores</th>
            </tr>
            <tr class="table-dark">
                <th scope="row">Rank</th>
                <th scope="row">Points</th>
                <th scope="row">Accuracy</th>
            </tr>
        </thead>
        ${easy.map((easyscore,ind) => 
            `<tr>
                <td>${ind+1}</td>
                <td>${easyscore.points}</td>
                <td>${easyscore.accuracy}</td>
            </tr>`
        ).join('')}
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="4">Top 10 Medium Scores</th>
            </tr>
            <tr class="table-dark">
                <th scope="row">Rank</th>
                <th scope="row">Points</th>
                <th scope="row">Accuracy</th>
            </tr>
        </thead>
        ${med.map((medscore,ind) => 
            `<tr>
                <td>${ind+1}</td>
                <td>${medscore.points}</td>
                <td>${medscore.accuracy}</td>
            </tr>`
        ).join('')}
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="4">Top 10 Hard Scores</th>
            </tr>
            <tr class="table-dark">
                <th scope="row">Rank</th>
                <th scope="row">Points</th>
                <th scope="row">Accuracy</th>
            </tr>
        </thead>
        ${hard.map((hardscore,ind) => 
            `<tr>
                <td>${ind+1}</td>
                <td>${hardscore.points}</td>
                <td>${hardscore.accuracy}</td>
            </tr>`
        ).join('')}
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="4">Most Recent Scores</th>
            </tr>
            <tr class="table-dark">
                <th scope="row">Rank</th>
                <th scope="row">Points</th>
                <th scope="row">Accuracy</th>
                <th scope="row">Difficulty</th>
            </tr>
        </thead>
        ${recent.map((recentscore,ind) => 
            `<tr>
                <td>${ind+1}</td>
                <td>${recentscore.points}</td>
                <td>${recentscore.accuracy}</td>
                <td>${recentscore.difficulty}</td>
            </tr>`
        ).join('')}
    </table>
</section>

