<style>
#killCountFrame{
    border:none;
    overflow:hidden;
    width:100%;
    height:75px;
}
</style>

<h4 class='allKills'>We've Slayed ${allKills} Zombies</h4>

<h1 class="scoresHeader display-6">Best Undead Slayers:</h1>

<section class="section user-scores">
    <div class="card border-danger score-info border-secondary mb-3" style="max-width: 25rem;">
        <table class="table table-hover">
            <thead>
                <div class="card-header">
                    Top 10 Regular Easy Scores
                </div>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Accuracy</th>
                </tr>
            ${easy.map((easyscore,ind) => 
                `${ind == 0 ? 
                `<tr class="text-white" style='background-color:#e74c3c;'>`
                : ind == 1 ? `<tr class="text-white" style='background-color:#b62616;'>`
                : ind == 2 ? `<tr class="text-white" style='background-color: #881d11;'>`
                : ``}
                    <td class='scoreRank'>${ind+1}</td>
                    <td>${easyscore.f_name}</td>
                    <td>${easyscore.points}</td>
                    <td>${easyscore.accuracy}</td>
                </tr>`
            ).join('')}
        </table>
    </div>

    <div class="card border-danger score-info border-secondary mb-3" style="max-width: 25rem;">
        <table class="table table-hover">
            <thead>
                <div class="card-header">
                    Top 10 Regular Medium Scores
                </div>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Accuracy</th>
                </tr>
            </thead>
            ${med.map((medscore,ind) => 
                `${ind == 0 ? 
                    `<tr class="text-white" style='background-color:#e74c3c;'>`
                    : ind == 1 ? `<tr class="text-white" style='background-color:#b62616;'>`
                    : ind == 2 ? `<tr class="text-white" style='background-color: #881d11;'>`
                    : ``}
                    <td class='scoreRank'>${ind+1}</td>
                    <td>${medscore.f_name}</td>
                    <td>${medscore.points}</td>
                    <td>${medscore.accuracy}</td>
                </tr>`
            ).join('')}
        </table>
    </div>

    <div class="card border-danger score-info border-secondary mb-3" style="max-width: 25rem;">
        <table class="table table-hover">
            <thead>
                <div class="card-header">
                    Top 10 Regular Hard Scores
                </div>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Accuracy</th>
                </tr>
            </thead>
            ${hard.map((hardscore,ind) => 
                `${ind == 0 ? 
                    `<tr class="text-white" style='background-color:#e74c3c;'>`
                    : ind == 1 ? `<tr class="text-white" style='background-color:#b62616;'>`
                    : ind == 2 ? `<tr class="text-white" style='background-color: #881d11;'>`
                    : ``}
                    <td class='scoreRank'>${ind+1}</td>
                    <td>${hardscore.f_name}</td>
                    <td>${hardscore.points}</td>
                    <td>${hardscore.accuracy}</td>
                </tr>`
            ).join('')}
        </table>
    </div>
</section>