<style>

#mainContentContainer {
    padding:0;
}




.pageTitle{
    display: none;
}



html{
    scroll-behavior: smooth;
}
</style>
<section id ="first" class="First">
        <img class= "homePage" src="/images/home-page.png" />
        <a class='start' href="/games" ><img src="/images/start.gif"/></a>
        <!-- <a class='instructions' href="#second" ><img src="/images/instructions.png"/></a> -->

</section>
<!-- <h2>How To Survive</h2>

<section id ="second" class="Second">
    <div class= "wrapper">
        <div id= "card" class="card mb-3">
                <h3 class="card-header">Aiming</h3>
                <img style= "width: 100%; display: block;" src="/images/aiming.gif" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Use trackpad or mouse to move the crosshairs around the screen. The crosshairs will change color from white to red indicating when you are on target and ready to shoot.</p>
        </div>
    </div>
</section> -->
