<style>
    .navbar{
        display:none;
    }

    #mainContentContainer{
        padding:0;
        margin:0;
        background: none transparent;
    }

    body{
        background: none transparent;
    }

    .allKills{
        text-align:center;
        text-shadow: 0 4px 0 rgba(100,100,100,1), 0 8px 3px rgba(0,0,0,0.7);
    }
    @media screen and (max-width: 400px){
        .allKills{
            font-size: 1.2em;
        }
    }
</style>

<h4 class='allKills'>We've Slayed ${allKills} Zombies</h4>

<!-- <form id='killPost' action='/killCount/${allKills}' method='POST'>
    <input type="hidden" id='totalKills' name='total_kills' value='${allKills}'>
</form> -->
<script>
// setTimeout(function(){window.location = window.location}, 1000);
    // setTimeout(()=>
    // {
    //     document.getElementById('killPost').submit()
    // },1000);
</script>