body{
  min-width: 320px;
}

#mainContentContainer {
  padding:20px 50px;
}

.logo{
  width:80px;
}

/*****************
*                *
*  Start Index   *
*                *
*****************/

.container{
  position:relative;
  /* height:200px; */
}

.noobToPro {
  text-align:center;
  position:absolute;
  width:100%;
}

.container .col-sm{
  height:200px;
}


/*****************
*                *
*    End Index   *
*                *
*****************/

/***************
*              *
*  START GAME  *
*              *
***************/

#lastZ {
  opacity: 0;
}

#gameContainer{
  min-height:200px;
}

#gameContainer:hover{
  cursor: url(../images/white_crosshair.png)10 10, auto;
}

#gameStats {
  display:flex;
  justify-content: space-between;
  font-family: 'Teko', sans-serif;
  font-size:2em;
  padding:10px;
}

#gameStats p{
  padding:0;
  margin:0;
}

.night{
  height:10%;
  min-height:75px;
  background: url(../images/backgroundv2.jpg);
  background-size: auto 100%;
}

#game {
  min-height:250px;
  height:50%;
  width:100%;
  position:relative;
  display:flex;
  background-color: #39422d;
  flex-direction: column;
  align-items:center;
  /* background: url(../images/background.png); */
  background-size:100% auto;
}


#startCountDown{
  visibility: hidden;
  font-size:3em;
  text-align: center;
  flex-grow:1;
}

.weapon img{
  width:100px;
  z-index:999;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}


#targetContainer{
  position:absolute;
  overflow:hidden;
  display:flex;
  align-items:flex-end;
}

#target{
  background-size: 100% 100%;
  z-index:0;
}

#zombieImg{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
#zombieImg:hover{
  cursor: url(../images/red_crosshair.png)10 10, auto;
}

#zombieImg:target{
  cursor: url(../images/clicked.png)10 10, auto;
}

#gameStart{
  margin-top:20px;
}

/***************
*              *
*   END GAME   *
*              *
***************/

/*****************
*                *
*  Start SELECT  *
*                *
*****************/

input[type="radio"][value="apocalypse"], input[type="radio"][value="apocalypse"]:checked{
  display: none;
}

.gamesSelectionForm{
  width:100%;
  min-width:200px;
  max-width:500px;
  margin:0 auto;
}

.gamesSelectionForm h5{
  text-align: center;
}

.gameModeSelection{
  display:flex;
  margin:20px 0;
}

.gameModeSelection .btn{
  width:50%;
  margin-right:5px;
}

.gameModeSelection .btn:last-child{
  margin-right:0px;
}

.gameDifficultySelection{
  margin:10px 0 20px 0;
}

.apocalypse-btn{
  opacity:0;
}
.apocalypse-btn:hover{
  opacity:1;
}

/***************
*              *
*  END SELECT  *
*              *
***************/

.section {
  display:flex;
}

.table {
  display:block;
}

a:hover, button:hover, .close:hover, .btn:hover, .navbar-toggler:hover {
  cursor:url(../images/zombie-cursor-sized.png), auto;
}