#game {
  width:100%;
  height:60%;
  border:1px solid red;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

#startCountDown{
  visibility: hidden;
  border:1px solid red;
  font-size:3em;
  text-align: center;
}

#targetContainer{
  position:absolute;
  overflow:hidden;
}

#target{
  margin-top:200%;
  border:1px solid red;
  height:0px;
  transition: margin-top 1s;
  background: url(../images/zombie.png);
  background-size: 100% 100%;
}


#target:hover{
  background-color:red;
}

.section {
  display:flex;
}

.table {
  display:block;
}