#mainContentContainer {
  padding:20px 50px;
}

#lastZ {
  opacity: 0;
}

#gameContainer {
  margin-top:20px;
  background-color:lightblue;
}

#gameInfo {
  display:flex;
  justify-content: space-between;
}

#game {
  width:100%;
  height:60%;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  background: url(../images/grass.jpg);
}

#game:hover{
  cursor: url(../images/white_crosshair.png)10 10, auto;
}

#startCountDown{
  visibility: hidden;
  border:1px solid red;
  font-size:3em;
  text-align: center;
}

#targetContainer{
  position:absolute;
  overflow:hidden;
  display:flex;
  align-items:flex-end;
}

#target{
  background-size: 100% 100%;
}

#target:hover{

}
#zombieImg{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
#zombieImg:hover{
  cursor: url(../images/red_crosshair.png)10 10, auto;
}

#zombieImg:target{
  cursor: url(../images/clicked.png)10 10, auto;
}

input[type="radio"][value="apocalypse"], input[type="radio"][value="apocalypse"]:checked{
  display: none;
}

.gamesSelectionForm{
  width:50%;
  min-width:400px;
  margin:0 auto;
}

.gameModeSelection{
  display:flex;
  margin:20px 0;
}

.gameModeSelection .btn{
  width:50%;
  margin-right:5px;
}

.gameModeSelection .btn:last-child{
  margin-right:0px;
}

.gameDifficultySelection{
  margin:10px 0 20px 0;
}

.apocalypse-btn{
  opacity:0;
}
.apocalypse-btn:hover{
  opacity:1;
}

.section {
  display:flex;
}

.table {
  display:block;
}